@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
  --grey: #E6E6E6;
  --text: #4D4D4D;
  --light-green: #F6FAE6;
  --green: #8FA842;
  --dark-green: #6B7F42;

  --radius: 5px;
  
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  color: var(--text);
  scroll-behavior: smooth;
}

h1, .h1 {font-size: 2.5rem; font-weight: 600;}
h2, .h2 {font-size: 1.7rem; font-weight: 600;}
h3, .h3 {font-size: 1.5rem; font-weight: 600;}
h4, .h4 {font-size: 1.2rem; font-weight: 400;}
h5, .h5 {font-size: 1rem; font-weight: 400;}
h6, .h6 {font-size: .7rem; font-weight: 400;}

label {font-size: 0.8rem; font-weight: 500; margin-bottom: 0.3rem;}
input, textarea {padding: 0.7rem 1.5rem; border: solid 1px var(--grey); font-size: 1rem; font-weight: 400;}
input::placeholder, textarea::placeholder {font-style: italic;}
input:focus, input:focus-visible, textarea:focus, textarea:focus-visible {outline: solid 2px var(--green);}

/* [ GLOBAL ] */
.btn-regular {
  border: none;
  border-radius: var(--radius);
  background-color: var(--green);
  padding: 0.7rem 1.5rem;

  color: white;
  font-size: 1rem;
  font-weight: 600;

  transition: .28s ease;
  width: max-content;
}
  .btn-regular:hover{
    background-color: var(--dark-green);
  }
  .btn-regular ion-icon {
    font-size: 1.5rem;
    margin-bottom: -7px;
  }

.sec-title {color: var(--dark-green); line-height: 1;}

.standard-link {color: var(--green); text-decoration: underline; transition: 0.28s ease;}
  .standard-link:hover {color: var(--dark-green);}

@media screen and (min-width: 576px) {
  .container--custom {max-width: calc(540px + 2rem); padding-left: calc(1rem + 15px); padding-right: calc(1rem + 15px); margin-left: auto;margin-right: auto;}
}
@media screen and (min-width: 768px) {
  .container--custom {max-width: calc(720px + 2rem); padding-left: calc(1rem + 15px); padding-right: calc(1rem + 15px); margin-left: auto;margin-right: auto;}
}
@media screen and (min-width: 992px) {
  .container--custom {max-width: calc(960px + 2rem); padding-left: calc(1rem + 15px); padding-right: calc(1rem + 15px); margin-left: auto;margin-right: auto;}
}
@media screen and (min-width: 1200px) {
  .container--custom {max-width: calc(1140px + 2rem); padding-left: calc(1rem + 15px); padding-right: calc(1rem + 15px); margin-left: auto;margin-right: auto;}
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}

@media (min-width: 576px) {
  .container, .container-sm {max-width: 540px;}
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {max-width: 720px;}
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {max-width: 960px;}
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1140px;}
}

/* [ HEADER ] */
header {
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 1;
}

.header {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
  .header .logo {
    height: 4.5rem;
  }

.navigation {list-style: none;}
.navigation__link {display: inline-block; position: relative;}
.navigation__link::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
  background: transparent;
  border-radius: 50%;
  transition: 0.28s ease;
}
.navigation__link + .navigation__link {margin-left: 1rem;}
.navigation__link a {color: var(--text); font-weight: 500; text-decoration: none; font-size: 1.2rem; transition: 0.28s ease;}
.navigation__link.active a {color: var(--green);}
.navigation__link.active::after {background: var(--green);}
.navigation__link a:hover {color: var(--green); text-decoration: none;}

/* [ BANNER HERO ] */
.b-hero {
  padding: 11rem 0 7rem;
  background: linear-gradient(135deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.7), transparent);
  position: relative;
}
  .b-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: url('../img/bg-hero-fruits.webp') no-repeat center;
    background-size: cover;
  }

  .b-hero__title {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
    .b-hero__title span {
      color: var(--green);
    }
  .b-hero__text {
    color: white;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

/* [ BOOK AN APPOINTMENT ] */
.booking {
  margin-top: -2rem;
  position: relative;
  z-index: 1;
}
.booking__block {
  background: var(--grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.inline-form {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
  .inline-form input:first-child {border-top-left-radius: var(--radius);border-bottom-left-radius: var(--radius);}
  .inline-form input {border-radius: 0;max-height: 48.4px;margin-bottom: -1px;}
  .inline-form .btn-regular {
    margin-top: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
.form-block {
  margin-bottom: 1rem;
  width: 100%;
}
  .form-block label {display: block; margin-bottom: 0.4rem}
  .form-block input, .form-block textarea {border: solid 2px var(--grey); border-radius: var(--radius); width: 100%;}

/* [ GET TO KNOW ME ] */
.gtk {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'img text';
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.gtk__img {
  grid-area: img;
  height: max(50vh, 500px);
  background: url('../img/about-1.webp') no-repeat center top;
  background-size: cover;
}
.gtk__text {
  grid-area: text;
  margin: 4rem 0 4rem -10%;
  background: white;
  border: solid 2px var(--grey);
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

/* [ INSTITUTIONAL ] */
.inst {
  background-color: var(--grey);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.inst__grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'text img';
}
.inst__grid__img {
  grid-area: img;
  height: max(50vh, 500px);
  background: url('../img/about-2.webp') no-repeat center top;
  background-size: cover;
}
.inst__grid__text {
  grid-area: text;
  background: white;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

.inst__icons {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4rem;
}
.inst__icons__single {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}
.inst__icons__single__icon {
  width: 50%;
  padding-top: 50%;
  position: relative;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 1rem;
}
  .inst__icons__single__icon ion-icon {
    font-size: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

/* [ CONTACT ] */
.contact {
  display: grid;
  grid-template-columns: 50% 60%;
  grid-template-areas: 'img text';
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact__img {
  grid-area: img;
  height: max(50vh, 500px);
  background: url('../img/contact.webp') no-repeat center top;
  background-size: cover;
  margin: 4rem -10% 4rem 0;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  z-index: 1;
}
.contact__text {
  grid-area: text;
  background: white;
  border: solid 2px var(--grey);
  padding: 2rem 4rem 2rem calc(10% + 2rem);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-info {
  width: 100%;
  background: url('../img/contact-2.webp') no-repeat center top;
  background-size: cover;
  box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.5);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contact-info__block {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
}
.contact-info__block__single {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-areas: 'icon text';
  gap: 1rem;
}
.contact-info__block__single__icon {
  grid-area: icon;
  width: 80px;
  padding-top: 80px;
  position: relative;
  background-color: var(--light-green);
  border-radius: 50%;
}
  .contact-info__block__single__icon ion-icon {
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
.contact-info__block__single__text {
  grid-area: text;
}

/* [ BLOG POSTS ] */
.blog {
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0;
}
  .blog .sec-title {
    width: 100%;
    text-align: center;
  }
  .blog .sub-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .blog .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
.blog__post {
  width: 100%;
  height: 100%;
  border: solid 2px var(--grey);
  background: white;
  transition: 0.28s ease;
}
  .blog__post:hover {
    transform: translateY(-1rem);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }
.blog__post__img {
  width: 100%;
  padding-top: 56.5%;
  position: relative;
  overflow: hidden;
}
  .blog__post__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 100%;
    height: auto;
  }
.blog__post__title {
  margin: 1rem 1rem 0.5rem;
}
.blog__post__text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  .blog__post .standard-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
.blog__post__description {
  border-top: solid 1px var(--grey);
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  font-style: italic;
}