@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
  --grey: #E6E6E6;
  --text: #4D4D4D;
  --light-green: #F6FAE6;
  --green: #8FA842;
  --dark-green: #6B7F42;

  --radius: 5px;
  
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  color: var(--text);
  scroll-behavior: smooth;
}

h1, .h1 {font-size: 2.5rem; font-weight: 600;}
h2, .h2 {font-size: 1.7rem; font-weight: 600;}
h3, .h3 {font-size: 1.5rem; font-weight: 600;}
h4, .h4 {font-size: 1.2rem; font-weight: 400;}
h5, .h5 {font-size: 1rem; font-weight: 400;}
h6, .h6 {font-size: .7rem; font-weight: 400;}

label {font-size: 0.8rem; font-weight: 500; margin-bottom: 0.3rem;}
input, textarea {padding: 0.7rem 1.5rem; border: solid 1px var(--grey); font-size: 1rem; font-weight: 400;}
input::placeholder, textarea::placeholder {font-style: italic;}
input:focus, input:focus-visible, textarea:focus, textarea:focus-visible {outline: solid 2px var(--green);}

/* [ GLOBAL ] */
.btn-regular {
  border: none;
  border-radius: var(--radius);
  background-color: var(--green);
  padding: 0.7rem 1.5rem;

  color: white;
  font-size: 1rem;
  font-weight: 600;

  transition: .28s ease;
  width: max-content;
}
  .btn-regular:hover{
    background-color: var(--dark-green);
    cursor: pointer;
  }
  .btn-regular ion-icon {
    font-size: 1.5rem;
    margin-bottom: -7px;
  }
.btn-regular.gray {
  border: none;
  border-radius: var(--radius);
  background-color: white;
  padding: 0.7rem 1.5rem;

  color: var(--green);
  font-size: 1rem;
  font-weight: 600;

  transition: .28s ease;
  width: max-content;
}
  .btn-regular.gray:hover{
    background-color: var(--grey);
    cursor: pointer;
  }

.form-block {
  margin-bottom: 1rem;
  width: 100%;
}
  .form-block label {display: block; margin-bottom: 0.4rem}
  .form-block input, .form-block textarea {border: solid 2px var(--grey); border-radius: var(--radius); width: 100%;}

.inline-form {display: grid; grid-template-columns: auto auto; grid-template-rows: 100%;}
  .inline-form .form-block {margin-bottom: 0;}
    .inline-form .form-block input {border-radius: 0;max-height: 48px;margin-bottom: -1px;}
    .inline-form .form-block:first-child input {border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius);}
    .inline-form .form-block:not(:first-child, :last-child) input {border-left: none;}
  .inline-form .btn-regular {
    margin-top: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }


.sec-title {color: var(--dark-green); line-height: 1;}

.standard-link {color: var(--green); text-decoration: underline; transition: 0.28s ease;}
  .standard-link:hover {color: var(--dark-green);}

.pagination {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-start; gap: .5rem; margin-top: 2rem; width: 100%;}
.pagination__link {padding: 0.5rem 1rem; font-weight: 500; background: var(--grey); color: var(--text); border-radius: var(--radius); display: block; transition: 0.28s ease; text-decoration: none;}
  .pagination__link:hover, .pagination__link.active {background: var(--green); color: white;}

.container--custom {
  padding-left: calc(1rem + 15px);
  padding-right: calc(1rem + 15px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .container--custom {max-width: calc(540px + 2rem);}
}
@media screen and (min-width: 768px) {
  .container--custom {max-width: calc(720px + 2rem);}
}
@media screen and (min-width: 992px) {
  .container--custom {max-width: calc(960px + 2rem);}
}
@media screen and (min-width: 1200px) {
  .container--custom {max-width: calc(1140px + 2rem);}
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}

@media (min-width: 576px) {
  .container, .container-sm {max-width: 540px;}
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {max-width: 720px;}
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {max-width: 960px;}
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1140px;}
}

/* [ HEADER ] */
header {
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 2;
}

.header {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
  .header .logo {
    height: 4.5rem;
  }
  .header .close-menu {
    height: 3rem;
    width: 3rem;
    font-size: 2rem; 
    color: var(--dark-green); 
    justify-content: center; 
    align-items: center; 
    border: solid 2px transparent; 
    border-radius: var(--radius); 
    background: transparent; 
    transition: 0.28s ease; 
    position: absolute; 
    top: 2rem; 
    right: 1rem;
    display: none;
  }

.navigation {list-style: none;}
.navigation__link {display: inline-block; position: relative;}
.navigation__link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0.4rem;
  height: 0.4rem;
  background: transparent;
  border-radius: 50%;
  transition: 0.28s ease;
}
.navigation__link + .navigation__link {margin-left: 1rem;}
.navigation__link a {color: var(--text); font-weight: 500; text-decoration: none; font-size: 1.2rem; transition: 0.28s ease;}
.navigation__link.active a {color: var(--green);}
.navigation__link.active::after {background: var(--green);}
.navigation__link a:hover {color: var(--green); text-decoration: none;}

.header-mobile {display: none; background: white; padding: 1rem;}
  .header-mobile .logo {height: 3rem}
  .header-mobile .menu-toggle {height: 3rem; width: 3rem; font-size: 2rem; color: var(--dark-green); display: flex; justify-content: center; align-items: center; border: solid 2px transparent; border-radius: var(--radius); background: transparent; transition: 0.28s ease;}
    .header-mobile .menu-toggle:focus {border-color: var(--green);}

/* [ BREADCRUMB ] */
.breadcrumb {
  padding: 11rem 0 4rem;
  background: linear-gradient(135deg, black, rgba(0, 0, 0, 0.7), transparent);
  position: relative;
  text-align: center
}
  .breadcrumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: url('../img/bg-hero-fruits.jpg') no-repeat center;
    background-size: cover;
  }
.breadcrumb__list {
  list-style: none;
}
.breadcrumb__list__item, .breadcrumb__list__item a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.breadcrumb__list__item + .breadcrumb__list__item::before {
  content: '/';
  display: inline-block;
  position: relative;
  margin: 0 .5rem;
}
.breadcrumb__title {
  color: white
}

/* [ BANNER HERO ] */
.b-hero {
  padding: 11rem 0 7rem;
  background: linear-gradient(135deg, black, rgba(0, 0, 0, 0.7), transparent);
  position: relative;
}
  .b-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: url('../img/bg-hero-fruits.webp') no-repeat center;
    background-size: cover;
  }

  .b-hero__title {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
    .b-hero__title span {
      color: var(--green);
    }
  .b-hero__text {
    color: white;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

/* [ BOOK AN APPOINTMENT ] */
.booking {
  margin-top: -2rem;
  position: relative;
  z-index: 1;
}
.booking__block {
  background: var(--grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.booking__block .inline-form {
  grid-template-columns: 25% 25% 25% 25%;
}
  .booking__block .inline-form .btn-regular{
    padding: calc(0.7rem - 1.5px) 1.5rem;
  }

/* [ GET TO KNOW ME ] */
.gtk {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'img text';
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.gtk__img {
  height: max(50vh, 500px);
  position: relative;
  overflow: hidden;
}
  .gtk__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 100%;
    height: auto;
  }
.gtk__text {
  grid-area: text;
  margin: 4rem 0 4rem -10%;
  background: white;
  border: solid 2px var(--grey);
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  z-index: 1;
}

/* [ INSTITUTIONAL ] */
.inst {
  background-color: var(--grey);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.inst__grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'text img';
}
.inst__grid__img {
  grid-area: img;
  height: max(50vh, 500px);
  position: relative;
  overflow: hidden;
}
  .inst__grid__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
.inst__grid__text {
  grid-area: text;
  background: white;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

.inst__icons {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4rem;
}
.inst__icons__single {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}
.inst__icons__single__icon {
  width: 50%;
  padding-top: 50%;
  position: relative;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
  .inst__icons__single__icon ion-icon {
    font-size: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

/* [ CONTACT ] */
.contact {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: 'img text';
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact__img {
  grid-area: img;
  height: max(50vh, 500px);
  background: url('../img/contact.webp') no-repeat center top;
  background-size: cover;
  margin: 4rem -10% 4rem 0;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  z-index: 1;
}
.contact__text {
  grid-area: text;
  background: white;
  border: solid 2px var(--grey);
  padding: 2rem 4rem 2rem calc(10% + 2rem);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-info {
  width: 100%;
  background: url('../img/contact-2.webp') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.5);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contact-info__block {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.contact-info__block__single {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: grid;
  grid-template-areas: 'icon text';
  grid-template-columns: 80px auto;
  gap: 1rem;
}
.contact-info__block__single__icon {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: var(--light-green);
  border-radius: 50%;
}
  .contact-info__block__single__icon ion-icon {
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

/* [ BLOG POSTS ] */
.blog {
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0;
}
  .blog .sec-title {
    width: 100%;
    text-align: center;
  }
  .blog .sub-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .blog .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
.blog__post {
  width: 100%;
  height: 100%;
  border: solid 2px var(--grey);
  background: white;
  transition: 0.28s ease;
}
  .blog__post:hover {
    transform: translateY(-1rem);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }
.blog__post__img {
  width: 100%;
  padding-top: 56.5%;
  position: relative;
  overflow: hidden;
}
  .blog__post__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 100%;
    height: auto;
  }
.blog__post__title {
  margin: 1rem 1rem 0.5rem;
}
.blog__post__text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  .blog__post .standard-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
.blog__post__description {
  border-top: solid 1px var(--grey);
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  font-style: italic;
}

/* [ NEWSLETTER ] */
.newsletter {
  padding: 4rem 0;
  background: url('../img/news-background.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(0,0,0,.3);
}
  .newsletter .container{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.3));
  }
  .newsletter .sec-title{
    margin-bottom: 1rem;
    color: white;
  }

/* [ BLOG ] */
.blog .container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  grid-template-areas: 'filter list';
}
.blog.reverse .container{
  grid-template-columns: 75% 25%;
  grid-template-areas: 'list filter';
}
  /* blog page filter */
.blog__filter {grid-area: filter}
.blog__list {grid-area: list}

.blog__filter.left {
  padding-right: 1rem;
  border-right: 2px solid var(--grey);
}
.blog__filter.right {
  padding-left: 1rem;
  border-left: 2px solid var(--grey);
}
.blog__filter__date {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
  border-bottom: 2px solid var(--grey);
}
  .blog__filter__date + .blog__filter__date {
    margin-top: 0.5rem
  }
  .blog__filter__date.active .blog__filter__date__select, .blog__filter__date:hover .blog__filter__date__select {
    background-color: var(--grey);
  }
  .blog__filter__date.active {
    border-color: var(--grey);
  }
.filter-block {
  margin-bottom: 1.5rem;
}
  .filter-block h2 {
    margin-bottom: .5rem;
  }
.blog__filter__date__select {
  padding: 0.5rem;
  color: var(--text);
  font-size: 1.1rem;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.28s ease;
}
  .blog__filter__date__select ion-icon {
    margin-left: auto;
    transition: 0.28s ease
  }
    .blog__filter__date.active .blog__filter__date__select ion-icon {
      transform: rotate(180deg);
    }
  .blog__filter__date ul {
    list-style: unset;
    padding: 0 0.5rem 0 1.5rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.28s ease;
  }
    .blog__filter__date.active ul {
      max-height: max-content;
      overflow: hidden;
      opacity: 1;
    }
    .blog__filter__date ul li::before {
      display: none;
    }
      .blog__filter__date ul li a {
        display: block;
        padding: 0.5rem 0;
        color: var(--text);
        text-decoration: none;
        transition: 0.28s ease;
      }
        .blog__filter__date ul li a:hover {
          text-decoration: underline;
        }
    .blog__filter .close-menu {
      height: 3rem;
      width: 3rem;
      font-size: 2rem; 
      color: var(--dark-green); 
      justify-content: center; 
      align-items: center; 
      border: solid 2px transparent; 
      border-radius: var(--radius); 
      background: transparent; 
      transition: 0.28s ease; 
      position: absolute; 
      top: 2rem; 
      display: none;
    }
    .blog__filter .close-menu {right: 1rem;}

.latest-post {display: grid; grid-template-columns: 30% 70%; grid-template-rows: 100%; gap: 1rem;}
.latest-post + .latest-post {margin-top: 1rem;}
.latest-post__img {width: 100%; padding-top: 80%; position: relative; overflow: hidden; background: var(--grey);}
  .latest-post__img img {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: auto; object-fit: cover; object-position: center; display: block;}
.latest-post__title {font-size: 1.3rem; font-weight: 500;}
.latest-post__date {font-size: 0.85rem; font-style: italic;}

  /* blog page listing */
.blog__list {margin-left: 1rem;}
.blog.reverse .blog__list {margin-left: 0; margin-right: 1rem;}

  /* blog page post card */
.blog__single {
  width: 100%;
  border: solid 2px var(--grey);
  background: white;
  transition: 0.28s ease;
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
  .blog__single:hover {
    transform: translateY(-1rem);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }
.blog__single__img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
  .blog__single__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
.blog__single__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.blog__single__title {
  margin: 1rem 1rem 0.5rem;
}
.blog__single__prev {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  .blog__single .standard-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
.blog__single__description {
  border-top: solid 1px var(--grey);
  margin-top: auto;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  font-style: italic;
}

.blog__list .btn-regular#filterToggler {display: none; width: 100%; margin-bottom: 2rem;}

  /* blog post page */
.post__img {width:100%; margin-bottom: 1.5rem;}

.post__paragraph {margin-bottom: 1.5rem;}
.blog__list .post__paragraph::first-letter {font-size: 3rem;}

.post__share {width: 100%; background: var(--grey); padding: 2rem; display: flex; gap: 0.5rem; flex-wrap: wrap; margin-bottom: 1rem;}
.post__share .btn-regular {flex-grow: 1;}
.btn-regular.twitter {background: #1da1f2;}
  .btn-regular.twitter:hover {background: #107ec2;}
.btn-regular.instagram {background: #c62d90;}
  .btn-regular.instagram:hover {background: #9b196d;}
.btn-regular.facebook {background: #2d88ff;}
  .btn-regular.facebook:hover {background: #1161ca;}

  /* blog post comments */
.post__comment {background: var(--grey); padding: 2rem;}
.post__comment__list {overflow: hidden; height: 60vh; position: relative; margin-bottom: 1rem;}
.post__comment__single {display: grid; grid-template-columns: 100px auto; grid-template-areas: 'img text' 'name text'; grid-template-rows: 100px auto; gap: 0 1rem; margin-bottom: 2rem;}
.post__comment__single__img {grid-area: img; font-size: 100px; line-height: 1;}
.post__comment__single__name {grid-area: name; text-align: center; font-weight: 500;}
.post__comment__single__text {grid-area: text;}
.post__comment__read-more {width: 100%; background: linear-gradient(to top, var(--grey) 35%, transparent); display: flex; justify-content: center; align-items: center; padding: 2rem 2rem 0; position: absolute; bottom: 0; left: 0;}
.btn-invisible {border: none; background: transparent; padding: 0; color: var(--text); font-weight: 600; cursor: pointer;}

/* [ FOOTER ] */
footer {background: var(--grey); padding: 0.5rem 0;}
  footer .container {display: grid; grid-template-columns: auto auto; grid-template-rows: 100%;}
  footer h5 {line-height: 2.5;}
  footer .icon-list {list-style: none; max-width: max-content; margin-left: auto;}
    footer .icon-list li {display: inline-block;}
    footer .icon-list li+li {margin-left: 1rem;}
      footer .icon-list li a {color: var(--text); text-decoration: none; font-size: 1.5rem; transition: 0.28s ease;}
        footer .icon-list li a ion-icon {margin-bottom: -5px;}
        footer .icon-list li a:hover {color: var(--dark-green); text-decoration: none; cursor: pointer}

@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  .pagination {justify-content: center;}

  /* [ HEADER ] */
  header {
    top: 0;
  }
  header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    display: none;
    opacity: 0;
    transition: 0.28s ease;
  }
  .header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90vw;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem;
    gap: 2rem;
    z-index: 1;
    transition: 0.28s ease;
  }
    header.mobileMenu::before {
      display: block;
      opacity: 1;
    }
    .mobileMenu .header {left: 0;}
    .header .logo {height: 3.5rem;}
  .navigation__link {display: block; position: relative; max-width: max-content;}
  .navigation__link::after {top: 0; bottom: 0; left: unset; right: -1rem; margin: auto 0;}
  .navigation__link + .navigation__link {margin-left: 0; margin-top: 1rem}
  .header-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .header .close-menu {
    display: flex;
  }

  /* [ BANNER HERO ] */
  .b-hero {padding: 7rem 0 6rem;}
  
  /* [ BREADCRUMB ] */
  .breadcrumb {padding: 7rem 0 3rem;}
  
  /* [ BOOK AN APPOINTMENT ] */
  .booking__block .inline-form {grid-template-columns: 50% 50%;}
  .booking__block .inline-form .form-block {margin-top: 1rem;}
  .booking__block .inline-form .form-block input {border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius);}
  .booking__block .inline-form .form-block:first-child input, .booking__block .inline-form .form-block:nth-child(3n) input  {border-radius: var(--radius) 0 0 var(--radius);}

  /* [ BLOG ] */
  .blog .col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 1rem;
  }

  .blog::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    opacity: 0;
    display: none;
  }
  .blog .container, .blog.reverse .container{
    grid-template-columns: 100%;
    grid-template-areas: 'list';
  }
  .blog__list, .blog.reverse .blog__list {
    margin: 0;
  }
  .blog__filter {
    background: white;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 90vw;
    height: 100vh;
    padding: 2rem 1rem;
    overflow-y: scroll;
    transition: 0.28s ease;
  }
    .blog__filter.left {left: -100%;}
    .blog__filter.right {right: -100%;}

  .blog__list .btn-regular#filterToggler {display: block;}


  .blog.filterOpen .blog__filter.left {left: 0;}
  .blog.filterOpen .blog__filter.right {right: 0;}
  .blog.filterOpen::before {opacity: 1; display: block;}
  .blog.filterOpen .close-menu {display: flex;}

  /* [ INSTITUTIONAL ] */
  .inst__icons__single {width: 50%; margin-bottom: 2rem;}
}

@media screen and (max-width: 576px) {
  /* [ BANNER HERO ] */
  .b-hero {background: rgba(0, 0, 0, 0.7);}
  .b-hero__title {font-size: 2.8rem;}
  .b-hero__text {width: 100%;}
  
  /* [ BOOK AN APPOINTMENT ] */
  .booking {padding: 0 1rem;}
  .booking h2 {margin-bottom: 1rem; line-height: 1;}
  .booking__block .inline-form {grid-template-columns: 100%; gap: 1rem;}
  .booking__block .inline-form .form-block input {border-radius: var(--radius);}
  .booking__block .inline-form .btn-regular {border-radius: var(--radius);}

  /* [ GET TO KNOW ME ] */
  .gtk {grid-template-columns: 100%; grid-template-areas: 'img' 'text';}
  .gtk__img {height: auto; padding-top: 100%;}
  .gtk__img img {margin: 0}
  .gtk__text {margin: -10% 5% 0 -5%}

  /* [ INSTITUTIONAL ] */
  .inst__grid {grid-template-columns: 100%; grid-template-areas: 'text' 'img';}
  .inst__grid__img {height: auto; padding-top: 100%;}
  .inst__grid__img img {margin: 0}

  .inst__icons__single {width: 100%; margin-bottom: 2rem;}

  /* [ CONTACT ] */
  .contact {grid-template-columns: 100%; grid-template-areas: 'img' 'text';}
  .contact__img {margin: 0 -5% -10% -5%; height: auto; padding-top: 100%;}
  .contact__text {padding: calc(10% + 2rem) 2rem 2rem 2rem;}
  .contact__text .btn-regular {width: 100%;}
  
  .contact-info {padding: 3rem 1rem;}
  .contact-info__block {gap: 1rem;}

  /* [ BLOG ] */
  .blog .col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog__single {grid-template-columns: 100%; grid-template-rows: auto auto;}
  .blog__single__img {padding-top: 56.5%;}
    .blog__single__img img {
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
    }

  /* [ FOOTER ] */
  footer .container {grid-template-columns: 100%;}
  footer h5 {line-height: 1.7; text-align: center;}
  footer .icon-list {margin-right: auto;}
}